{% comment %}
file:    GPX file to display [mandatory]
id:      map unique ID [optional, default: my-one-and-only-map]
layers:  layers to display [optional, default: TF,OTM,OSM,Ortho]
fit_map: set whether to fit map or not (else it is a center-zoom) [optional, default: true]
zoom:    zoom level (used only if fit_map == false) [optional, default: 12]
markers: markers to use [optional, default: default, options: default,custom-start-and-end-points]
{% endcomment %}
{% capture id %}{{ include.id | default: "my-one-and-only-map" }}{% endcapture %}
<div id="{{ id }}" style="height: 400px;"></div>
<p></p>
<script>
  if (typeof widgets == 'undefined') { widgets = { } }
  widgets['{{ id }}'] = { layers: { }, track: { }, map: { } }

  for ([i, alias] of '{{ include.layers | default: "TF,OTM,OSM,Ortho" }}'.split(',').entries()) {
    if (alias == 'TF')    current_layer = widgets['{{ id }}'].layers['Thunderforest'] =        L.tileLayer.provider('Thunderforest.Landscape', { apikey: 'aa6d138c951e413cae47373621fa6464' })
    if (alias == 'OTM')   current_layer = widgets['{{ id }}'].layers['OpenTopoMap'] =          L.tileLayer.provider('OpenTopoMap')
    if (alias == 'OSM')   current_layer = widgets['{{ id }}'].layers['OpenStreetMap'] =        L.tileLayer.provider('OpenStreetMap')
    if (alias == 'Ortho') current_layer = widgets['{{ id }}'].layers['Orthophoto'] =           L.tileLayer.provider('GeoportailFrance.orthos')
    if (alias == 'OSMFR') current_layer = widgets['{{ id }}'].layers['OpenStreetMap France'] = L.tileLayer.provider('OpenStreetMap.France')
    if (i == 0) widgets['{{ id }}'].map = L.map('{{ id }}', { layers: [ current_layer ] })
  }

  if ('{{ include.markers }}' == 'custom-start-and-end-points') {
    marker_options = {
      wptIcons: DEFAULT_MARKER_OPTIONS.wptIcons
    }
    marker_options.wptIcons['depart']  = DEFAULT_MARKER_OPTIONS.startIcon
    marker_options.wptIcons['arrivee'] = DEFAULT_MARKER_OPTIONS.endIcon
  } else {
    marker_options = DEFAULT_MARKER_OPTIONS
  }
  widgets['{{ id }}'].track = new L.GPX('/assets/tracks/{{ include.file }}', { async: true, marker_options: marker_options })
  if ({{ include.fit_map | default: true}}) {
    initialize_map = function(e) { widgets['{{ id }}'].map.fitBounds(e.target.getBounds()) }
  } else {
    initialize_map = function(e) { widgets['{{ id }}'].map.setView(e.target.getBounds().getCenter(), {{ include.zoom | default: 12}}) }
  }
  widgets['{{ id }}'].track.on('loaded', initialize_map)

  widgets['{{ id }}'].map.addLayer(widgets['{{ id }}'].track)
  L.control.scale().addTo(widgets['{{ id }}'].map)
  L.control.layers(widgets['{{ id }}'].layers).addTo(widgets['{{ id }}'].map)
  widgets['{{ id }}'].map.addControl(new L.control.fullscreen())
</script>
